@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
	font-family: Arial, sans-serif;
	font-size: 10pt;
}

p {
	text-align: justify;
	text-indent: 20px;
}

article {
	margin-bottom: 800px;
}

article h1 {
	background-color: rgba(0,0,0,.3);
	color: #ffffff;
	font-size: 15pt;
	margin: 0px;
	padding: 5px;
}

article h2 {
	color: #888888;
	font-size: 13pt;
	margin: 0px;
}

img.img-dir {
	display: block;
	float: right;
	margin-left: 5px;
}